/* Biblio
 *
 * /sass/settings/_sizes.scss - Global sizes variables
 *
 * coded by Anne
 * started at 13/04/2016
 */

$mobileWidth: 340px;

$verticalTabletWidth: 640px;
$horizontalTabletWidth: 960px;
