/* Biblio
 *
 * /sass/objects/_content.scss - Non-cosmetic styles for content
 *
 * coded by Anne
 * started at 13/04/2016
 */

.content {
    width: 70%;
    margin: 0 auto 3em;
    &__title {
        font-size: 2.5em;
        margin-bottom: 1em;
    }
}

 .section {
     &__title {
         font-size: 2em;
         color: $titleColor;
         font-family: $baskervilleStack;
         margin: 2em 0 0.5em;
     }
 }

 .list {
     &__item {
         margin-bottom: 0.8em;

         &--title, &--link {
             display: block;
         }
         &--title {
             font-weight: bold;
             font-size: 1.2em;
         }
         &--link {
             text-decoration: none;
             color: $contentLinks;
             font-weight: 600;
         }
         &--link:hover {
             text-decoration: underline;
         }
     }
 }

@media screen and (min-width:$verticalTabletWidth ) and (max-width: $horizontalTabletWidth) {
    .content {
        width: 60%;
    }
}
