/* Biblio
 *
 * /sass/objects/_header.scss - Non-cosmetic styles for header
 *
 * coded by Anne
 * started at 13/04/2016
 */

 .header {
     background-image: $bgGradient;
     background-size: cover;
     width: 100%;
     display: block;
     margin-bottom: 2em;
     &__home {
         display: block;
         text-align: center;
         padding: 1em 0em;
         &--logo {
             margin: 0 auto;
         }
     }
     &__form {
         margin: 0 auto;
         text-align: center;
         position: relative;
         padding-bottom: 1em;
         &--input {
             width: 40%;
         }
         &--button {
             background-image: url("../assets/img/search.png");
             text-indent: -9999px;
         }
     }
     &__icons {
         position: absolute;
         top:0;
         left:0;
         z-index:2;
         padding: 2.5em 1em;
         &-open {
             display : inline;
         }
         &-close {
             display: none;
         }
     }

     &__nav {
         position: fixed;
         width: 0;
         top: 0;
         height: 100%;
         background: $menuBgColor;
         overflow-y: auto;
         transition: width 0.3s ease;
         padding-top: 7em;
         z-index: 1;
         &:target {
             width: 200px;
         }
         &:target + .header__icons .header__icons-open {
             display: none;
         }
         &:target + .header__icons .header__icons-close {
             display: inline;
         }
     }
     &__right {
         display: none;
     }
 }

 .nav {
     &__item, &__icons {
         text-decoration: none;
         color:white;
         font-size: 2em;
          padding: 0.5em;
     }
     &__item:hover {
         text-decoration: underline;
     }
 }

 @media screen and (max-width: $mobileWidth) {
  .header {
      height: 12em;
      &__home {
          width: 100%;
          &--logo {
              width: 10%;
          }
      }
  }
  .nav {
      &__item {
          display: block;
          padding: 0.7em 1em;
      }
  }
}

@media screen and (min-width:$mobileWidth ) and (max-width: $verticalTabletWidth) {
    .header {
        height: 14em;
        &__home {

            width: 100%;
            &--logo {
                width: 8%;
            }
        }
    }
    .nav {
        &__item {
            display: block;
            padding: 0.7em 1em;
        }
    }
}

@media screen and (min-width:$verticalTabletWidth ) and (max-width: $horizontalTabletWidth) {
    .part {
        display: inline-block;
        vertical-align: middle;
        
    }

    .nav {
        &__item {
            &--left {
                display: block;
                padding: 0.7em 1em;
            }
        }
    }
}
