/* Library
 *
 * /sass/components/_content.scss
 *
 * coded by Anne
 * started at 26/04/2016
 */

.content {
    padding-bottom: 6.25em;/*100px*/
    &__section {
        width: 83.71%; /*1172px*/
        margin: 0 auto;
    }
    &-admin {
        display: inline-block;
        width: 50%;

    }
    &__forgot {
        text-align: center;
        text-decoration: none;
        color: $laborTextColor;
        display: block;
    }
    &__forgot:hover {
        text-decoration: underline;
        transition: .3s ease;
    }
    &__new {
        text-align: center;
        &-text {
            font-size: $middle;
        }
        &-button {
            text-decoration: none;
            color: $laborTextColor;
            display: block;
            font-size: 1.2em;
        }
        &-button:hover {
            text-decoration: underline;
            transition: .3s ease;
        }
    }
}

.form-after {
        display: block;
        width: 50%;
        margin: 0 auto;
}

.section {
    padding: 2em 0;
    &__title {
        font-size: $sectionTitle;
        padding-bottom: 1.25em; /*20px*/
    }
}
