/* Library
 *
 * /sass/settings/_colors.scss - variables for colors
 *
 * coded by Anne
 * started at 26/04/2016
 */

$mainBgColor: #dfdfdf;
$cardsBgColor: #ffffff;
$headerGradient:linear-gradient(to top,#dfdfdf,rgba(223,223,223,0.2), rgba(223,223,223,0),rgba(223,223,223,0));
$bgButtonsReadMore: #272727;
$headerLinksBgHover:rgba(223,223,223,0.7);

$laborTextColor: #272727;
$linksLight: #ffffff;
$linksHover:#272727;
